@media (max-width: 720px) {
    .div-logo {
        display: none !important;
    }
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    /*background-color: #272162;*/
}

.div-content
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.div-left
{
    width: 414px;
    height:522px;
    background-color: #FFFFFF;
}
.div-right
{         
     width: 414px;
    height:522px;
    background-color:#4E2665;
}
.left-container
{
padding: 40px 60px;

}
.title{
    margin: 5px;
    font-size: 35px;
}
.title-1 span
{
    font-size: 13px;
    cursor: pointer;
}
.title-1
{
    color: #7F438C;

    font-weight: normal;
}
.title-2
{
    color: #7F438C;
    font-weight:bolder;
}
.input-content
{
    margin: 25px 0 10px 0;
}
.input
{
    margin: 15px 0;
}
.input input:focus {
    outline: none;
  }
.input input
{
width: 100%;
border: 1px solid #000;
border-top: 0;
border-left: 0;
border-right: 0;
height: 25px;

}
.input p
{
    font-weight: bold;
    margin: 5px 0;
}
.left-btn
{
    margin: 20px 0;
}
.left-btn button
{
    border: 1px solid #000;
    width: 100px;
    height: 35px;
    cursor: pointer;
}
.btn-login
{
    background-color: #EF6562;
    color: #FFFFFF;

}
.btn-reg
{
    margin-left: 20px;
    background-color: #FFFFFF;

}
.left-lable
{
    display: flex;
    justify-content: space-between;
    font-size: 12px;
}
.left-lable label{
    margin-left: 5px;
}
.right-forgot{
    cursor: pointer;
}
.right-forgot:hover{
    color: #7f438c;
}
.bottom-div
{
    font-size: 12px;
    font-weight:bold;
    margin-top: 30px;

}
.bottom-div span
{
margin-left: 10px;

}
.bottom-div span img
{

height: 20px;
width: 20px;
cursor: pointer;
}
.code{
display:  flex;
justify-content: space-between;
align-items: flex-end;
}
.code-input
{
    width: 60% !important;
}
.code-img
{
    margin-left: 20px;
    border: 0.8px solid #000;
    width: 150px;
    height: 40px;
    text-align: center;
}

.div-bottom span{
    margin: 0 5px;
    cursor: pointer;
}





.phone-code{
    display:  flex;
    justify-content: space-between;
    align-items: flex-end;
    }
    .phone-code-input
    {
        width: 60% !important;
    }
    .phone-code-btn
    {
        border: 0.8px solid #000;
        text-align: center;
        width: 100px;
        height: 30px;
        background-color: #EF6562;
        color: #FFFFFF;
        cursor: pointer;
        margin-left: 20px;
    }
    .register-title
    {
        color: #7F438C;
        font-weight:bolder;
        font-size: 30px;
    }
    .div-left-register
    {
        width: 414px;
        height:522px;
        background-color: #FFFFFF;
      
    }
    .div-right-register
    {
        width: 414px;
        height:522px;
        background-color:#4E2665;
     
    }
    
    input[disabled] {
        pointer-events: none;
        opacity: 0.5;
        background-color: #F0F2F5;
      }

      .div-img
      {
        width: 100%;
        height: 100%;
      }